#1.0.24
[Unit]
Description=Phoniebox Rotary Control Service
After=network.target iptables.service firewalld.service

[Service]
WorkingDirectory=<PATH>/scripts/
ExecStart=/usr/bin/python3 <PATH>/scripts/controller/./rotary_volume_control.py
Restart=always
SyslogIdentifier=PhonieboxRotaryControl
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
