#1.0.8
[Unit]
Description=Phoniebox Rotary Control Service
After=network.target iptables.service firewalld.service

[Service]
Restart=always
WorkingDirectory=<PATH>/scripts/
ExecStart=/usr/bin/python3 <PATH>/scripts/./phoniebox_rotary_control.py

[Install]
WantedBy=multi-user.target

